*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.mr-5 {
    margin-right: 5px;
}

.pd-10 {
    padding: 10px 0;
}

